body.index

  .top
    height: 100%
    background-color: mix($orange, #c55d40)
    background-image: image-url("top/home.jpg")
    .top-title
      height: 100%
      .btn
        margin-top: 1em
        font-size: .6em
        color: white
        border-color: white
        border-color: rgba(white, 0.6)
        &:hover
          border-color: white

  .header-container
    position: relative
    z-index: 3
    background: $body-bg
    height: 50px
    margin-top: -50px
    @media only screen and (max-width: $break-medium)
      height: auto
      margin-top: 0
    @media only screen and (min-width: $break-medium)
      height: 70px
      margin-top: -70px

  .section-about
    overflow: visible
    li
      +clearfix()
      float: left
      width: 23%
      padding: 3em 5%
      font-size: 1.25em
      font-weight: 200
      .illustration
        text-align: center
      .description
        h2
          font-size: 1.2em

  .section-testimonial
    max-width: none
    background: white
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
    quote
      display: block
      max-width: 1200px
      margin: 0 auto
      padding: 4em 0
    p
      font-size: 2em
      font-weight: 300
      text-align: center
      &.author
        @extend small
        margin: 0
        font-size: 1.25em

  .section-ready
    font-size: 1.5em
    text-align: center

