body.team
  .team-person
    float: left
    width: 29%
    margin: 0 2% 4em
    text-align: center
    &:nth-child(4n)
      clear: both
    img
      width: 100%
    h3
      margin-bottom: 0.25rem
    .team-social a
      font-size: 1.25em
      padding: 0.5em
