.wrapper
  min-height: 100%
  margin-bottom: -300px

  .footer-push
    height: 300px

footer
  margin: 0
  padding: 0
  height: 300px
  overflow: hidden
  background: $darkblue
  color: lighten($darkblue, 20%)
  text-align: center
  line-height: 1.35em
  font-weight: 300
  section
    margin: 0 auto
    padding: 4em 20px 2em
    overflow: hidden
  ul
    @extend .list-simple
    margin-bottom: 2em
    li
      margin: 0.5em 0
      &:before
        display: none
  .list-title
    color: lighten($darkblue, 10%)
  a
    color: lighten($darkblue, 20%)
    &:hover
      color: lighten($darkblue, 50%)
  @media only screen and (min-width: $break-medium)
    .copyright
      float: right
      text-align: right
    nav
      float: left
      width: 20%
      text-align: left
      margin-right: 5%
    ul
      margin-bottom: 2em
      &.list-contact
        li
          position: relative
          z-index: 1
          padding-left: 1.5em
          &:before
            display: block
            position: absolute
            z-index: 1
            top: 0
            left: 0
