.header-container
  position: relative
  z-index: 5
  height: 75px

.site-header
  +clearfix()
  display: block
  margin: 0
  overflow: hidden
  background: white
  background: rgba(white, 0.95)
  border-bottom: 1px solid #eaeaea
  padding: 5px 10px
  position: fixed
  top: 0
  left: 0
  right: 0
  +transition(all, 500ms)
  @media only screen and (min-width: $break-medium)
    position: relative
    padding: 15px 20px
    &.affix
      position: fixed
      z-index: 1000
      top: 0
      left: 0
      right: 0
      box-shadow: 0 0 5px rgba(black, 0.35)
  .logo
    float: left
    display: block
    margin: 0
    h1
      text-indent: 100%
      overflow: hidden
      font-size: 0
      margin: 0
    svg, img
      display: none
    svg
      .svg &
        display: block
    img
      .no-svg &
        display: block

  .nav-toggle
    display: none
    +appearance(none)
    outline: none
    float: right
    margin: 5px 0
    background: none
    border: 1px solid #eee
    border-radius: 5px
    padding: .7em 1em .5em
    color: #bbb
    font-size: 1em
    cursor: pointer
    @media only screen and (max-width: $break-small)
      display: block

  .site-nav
    float: right
    text-align: right
    ul
      margin: 0
    li
      color: #777
      display: inline-block
      margin: 0 0 0 1em
      line-height: 2.5em
      a
        color: #555
        padding: 0 0.5em
        &:hover
          color: lighten(#555, 25%)
        &.btn-primary
          color: white
          padding: 0.75em 2em 0.65em
    @media only screen and (min-width: $break-medium)
      display: block !important
    @media only screen and (max-width: $break-large)
      padding: 5px 0
      li
        font-size: .8em
        margin-left: .5em
        a
          &.btn-primary
            padding: 0.8em 0.8em 0.5em
    @media only screen and (max-width: $break-small)
      display: none
      float: none
      clear: both
      text-align: center
      li
        display: block
        margin: 0
        border-top: 1px solid #eee
        font-size: 1.25em
        &:first-child, &:last-child
          border-top: none
        a
          margin: 0 0.5em
          padding: 0 0.25em
          display: block
          &.btn-primary
            margin-top: 0.5em
            padding: 1em 1em 0.8em
