body
  background: $offwhite
  color: $slate

#nprogress
  .bar
    background: $blue
  .peg
    @include box-shadow((0 0 10px $blue, 0 0 5px $blue))
  .spinner-icon
    border-top-color:  $blue
    border-left-color: $blue

