@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-symbolicons-block.css" rel="stylesheet" />
*/

@font-face {
  font-family: "SSSymbolicons";
  src: font-url('ss-symbolicons-block.eot');
  src: font-url('ss-symbolicons-block.eot?#iefix') format('embedded-opentype'),
       font-url('ss-symbolicons-block.woff') format('woff'),
       font-url('ss-symbolicons-block.ttf')  format('truetype'),
       font-url('ss-symbolicons-block.svg#SSSymboliconsBlock') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-block-icon, .ss-block-icon.ss-block-symbolicons-block,
[class^="ss-block-"]:before, [class*=" ss-block-"]:before,
[class^="ss-block-"].ss-block-symbolicons-block:before, [class*=" ss-block-"].ss-block-symbolicons-block:before,
[class^="ss-block-"].right:after, [class*=" ss-block-"].right:after,
[class^="ss-block-"].ss-block-symbolicons-block.right:after, [class*=" ss-block-"].ss-block-symbolicons-block.right:after {
  font-family: "SSSymbolicons";
}

.ss-block-crosshair:before,
.ss-block-crosshair.right:after{content:'⌖'}.ss-block-search:before,
.ss-block-search.right:after{content:'🔍'}.ss-block-zoomin:before,
.ss-block-zoomin.right:after{content:''}.ss-block-zoomout:before,
.ss-block-zoomout.right:after{content:''}.ss-block-binoculars:before,
.ss-block-binoculars.right:after{content:''}.ss-block-raisedhand:before,
.ss-block-raisedhand.right:after{content:'✋'}.ss-block-link:before,
.ss-block-link.right:after{content:'🔗'}.ss-block-write:before,
.ss-block-write.right:after{content:'✎'}.ss-block-compose:before,
.ss-block-compose.right:after{content:'📝'}.ss-block-lock:before,
.ss-block-lock.right:after{content:'🔒'}.ss-block-unlock:before,
.ss-block-unlock.right:after{content:'🔓'}.ss-block-key:before,
.ss-block-key.right:after{content:'🔑'}.ss-block-backspace:before,
.ss-block-backspace.right:after{content:'⌫'}.ss-block-ban:before,
.ss-block-ban.right:after{content:'🚫'}.ss-block-nosmoking:before,
.ss-block-nosmoking.right:after{content:'🚭'}.ss-block-trash:before,
.ss-block-trash.right:after{content:''}.ss-block-target:before,
.ss-block-target.right:after{content:'◎'}.ss-block-stopsign:before,
.ss-block-stopsign.right:after{content:''}.ss-block-radioactive:before,
.ss-block-radioactive.right:after{content:'☢'}.ss-block-skull:before,
.ss-block-skull.right:after{content:'💀'}.ss-block-lightning:before,
.ss-block-lightning.right:after{content:'☇'}.ss-block-tag:before,
.ss-block-tag.right:after{content:''}.ss-block-newtag:before,
.ss-block-newtag.right:after{content:''}.ss-block-flag:before,
.ss-block-flag.right:after{content:'⚑'}.ss-block-like:before,
.ss-block-like.right:after{content:'👍'}.ss-block-dislike:before,
.ss-block-dislike.right:after{content:'👎'}.ss-block-heart:before,
.ss-block-heart.right:after{content:'♥'}.ss-block-addheart:before,
.ss-block-addheart.right:after{content:''}.ss-block-deleteheart:before,
.ss-block-deleteheart.right:after{content:'💔'}.ss-block-star:before,
.ss-block-star.right:after{content:'⋆'}.ss-block-trophy:before,
.ss-block-trophy.right:after{content:'🏆'}.ss-block-award:before,
.ss-block-award.right:after{content:''}.ss-block-medal:before,
.ss-block-medal.right:after{content:''}.ss-block-badge:before,
.ss-block-badge.right:after{content:'📛'}.ss-block-crown:before,
.ss-block-crown.right:after{content:'👑'}.ss-block-bullseye:before,
.ss-block-bullseye.right:after{content:'🎯'}.ss-block-sample:before,
.ss-block-sample.right:after{content:''}.ss-block-crop:before,
.ss-block-crop.right:after{content:''}.ss-block-layers:before,
.ss-block-layers.right:after{content:''}.ss-block-magicwand:before,
.ss-block-magicwand.right:after{content:''}.ss-block-cut:before,
.ss-block-cut.right:after{content:'✂'}.ss-block-cutpaste:before,
.ss-block-cutpaste.right:after{content:''}.ss-block-clipboard:before,
.ss-block-clipboard.right:after{content:'📋'}.ss-block-rules:before,
.ss-block-rules.right:after{content:'📏'}.ss-block-rulerpencil:before,
.ss-block-rulerpencil.right:after{content:''}.ss-block-gridlines:before,
.ss-block-gridlines.right:after{content:''}.ss-block-pen:before,
.ss-block-pen.right:after{content:'✒'}.ss-block-pencilbrush:before,
.ss-block-pencilbrush.right:after{content:''}.ss-block-pencilbrushpen:before,
.ss-block-pencilbrushpen.right:after{content:''}.ss-block-brush:before,
.ss-block-brush.right:after{content:''}.ss-block-paintroller:before,
.ss-block-paintroller.right:after{content:''}.ss-block-fill:before,
.ss-block-fill.right:after{content:''}.ss-block-stroke:before,
.ss-block-stroke.right:after{content:''}.ss-block-crayons:before,
.ss-block-crayons.right:after{content:''}.ss-block-palette:before,
.ss-block-palette.right:after{content:'🎨'}.ss-block-fliphorizontally:before,
.ss-block-fliphorizontally.right:after{content:''}.ss-block-flipvertically:before,
.ss-block-flipvertically.right:after{content:''}.ss-block-effects:before,
.ss-block-effects.right:after{content:''}.ss-block-bezier:before,
.ss-block-bezier.right:after{content:''}.ss-block-pixels:before,
.ss-block-pixels.right:after{content:''}.ss-block-phone:before,
.ss-block-phone.right:after{content:'📞'}.ss-block-rotaryphone:before,
.ss-block-rotaryphone.right:after{content:'☎'}.ss-block-touchtonephone:before,
.ss-block-touchtonephone.right:after{content:'☏'}.ss-block-phonebook:before,
.ss-block-phonebook.right:after{content:''}.ss-block-voicemail:before,
.ss-block-voicemail.right:after{content:'⌕'}.ss-block-megaphone:before,
.ss-block-megaphone.right:after{content:'📢'}.ss-block-rss:before,
.ss-block-rss.right:after{content:''}.ss-block-podcast:before,
.ss-block-podcast.right:after{content:''}.ss-block-mailbox:before,
.ss-block-mailbox.right:after{content:'📫'}.ss-block-send:before,
.ss-block-send.right:after{content:''}.ss-block-mail:before,
.ss-block-mail.right:after{content:'✉'}.ss-block-incomingmail:before,
.ss-block-incomingmail.right:after{content:'📩'}.ss-block-inbox:before,
.ss-block-inbox.right:after{content:'📥'}.ss-block-outbox:before,
.ss-block-outbox.right:after{content:'📤'}.ss-block-stamp:before,
.ss-block-stamp.right:after{content:''}.ss-block-chat:before,
.ss-block-chat.right:after{content:'💬'}.ss-block-chats:before,
.ss-block-chats.right:after{content:''}.ss-block-textchat:before,
.ss-block-textchat.right:after{content:''}.ss-block-exclamationchat:before,
.ss-block-exclamationchat.right:after{content:''}.ss-block-questionchat:before,
.ss-block-questionchat.right:after{content:''}.ss-block-ellipsischat:before,
.ss-block-ellipsischat.right:after{content:''}.ss-block-smile:before,
.ss-block-smile.right:after{content:'☻'}.ss-block-frown:before,
.ss-block-frown.right:after{content:'☹'}.ss-block-toothsmile:before,
.ss-block-toothsmile.right:after{content:'😃'}.ss-block-toothlesssmile:before,
.ss-block-toothlesssmile.right:after{content:'😀'}.ss-block-user:before,
.ss-block-user.right:after{content:'👤'}.ss-block-users:before,
.ss-block-users.right:after{content:'👥'}.ss-block-adduser:before,
.ss-block-adduser.right:after{content:''}.ss-block-removeuser:before,
.ss-block-removeuser.right:after{content:''}.ss-block-deleteuser:before,
.ss-block-deleteuser.right:after{content:''}.ss-block-heartuser:before,
.ss-block-heartuser.right:after{content:''}.ss-block-males:before,
.ss-block-males.right:after{content:'👬'}.ss-block-females:before,
.ss-block-females.right:after{content:'👭'}.ss-block-malefemale:before,
.ss-block-malefemale.right:after{content:'👫'}.ss-block-userportrait:before,
.ss-block-userportrait.right:after{content:''}.ss-block-userframe:before,
.ss-block-userframe.right:after{content:''}.ss-block-usersframe:before,
.ss-block-usersframe.right:after{content:''}.ss-block-baby:before,
.ss-block-baby.right:after{content:'👶'}.ss-block-swaddledbaby:before,
.ss-block-swaddledbaby.right:after{content:''}.ss-block-robot:before,
.ss-block-robot.right:after{content:''}.ss-block-happyrobot:before,
.ss-block-happyrobot.right:after{content:''}.ss-block-alien:before,
.ss-block-alien.right:after{content:'👽'}.ss-block-ghost:before,
.ss-block-ghost.right:after{content:'👻'}.ss-block-contacts:before,
.ss-block-contacts.right:after{content:'📇'}.ss-block-addressbook:before,
.ss-block-addressbook.right:after{content:'📑'}.ss-block-footsteps:before,
.ss-block-footsteps.right:after{content:'👣'}.ss-block-cart:before,
.ss-block-cart.right:after{content:''}.ss-block-shoppingbag:before,
.ss-block-shoppingbag.right:after{content:''}.ss-block-gift:before,
.ss-block-gift.right:after{content:'🎁'}.ss-block-store:before,
.ss-block-store.right:after{content:'🏪'}.ss-block-safe:before,
.ss-block-safe.right:after{content:''}.ss-block-bill:before,
.ss-block-bill.right:after{content:''}.ss-block-creditcard:before,
.ss-block-creditcard.right:after{content:'💳'}.ss-block-banknote:before,
.ss-block-banknote.right:after{content:'💵'}.ss-block-moneybag:before,
.ss-block-moneybag.right:after{content:'💰'}.ss-block-calculator:before,
.ss-block-calculator.right:after{content:''}.ss-block-bank:before,
.ss-block-bank.right:after{content:'🏦'}.ss-block-gavel:before,
.ss-block-gavel.right:after{content:'🔨'}.ss-block-meeting:before,
.ss-block-meeting.right:after{content:''}.ss-block-barchart:before,
.ss-block-barchart.right:after{content:'📊'}.ss-block-piechart:before,
.ss-block-piechart.right:after{content:''}.ss-block-activity:before,
.ss-block-activity.right:after{content:'📈'}.ss-block-flowchart:before,
.ss-block-flowchart.right:after{content:''}.ss-block-box:before,
.ss-block-box.right:after{content:'📦'}.ss-block-crate:before,
.ss-block-crate.right:after{content:''}.ss-block-home:before,
.ss-block-home.right:after{content:'⌂'}.ss-block-fence:before,
.ss-block-fence.right:after{content:''}.ss-block-buildings:before,
.ss-block-buildings.right:after{content:'🏢'}.ss-block-bridge:before,
.ss-block-bridge.right:after{content:''}.ss-block-barn:before,
.ss-block-barn.right:after{content:''}.ss-block-lodging:before,
.ss-block-lodging.right:after{content:'🏨'}.ss-block-earth:before,
.ss-block-earth.right:after{content:'🌎'}.ss-block-globe:before,
.ss-block-globe.right:after{content:'🌐'}.ss-block-compass:before,
.ss-block-compass.right:after{content:''}.ss-block-signpost:before,
.ss-block-signpost.right:after{content:''}.ss-block-map:before,
.ss-block-map.right:after{content:''}.ss-block-location:before,
.ss-block-location.right:after{content:''}.ss-block-pushpin:before,
.ss-block-pushpin.right:after{content:'📌'}.ss-block-script:before,
.ss-block-script.right:after{content:''}.ss-block-playscript:before,
.ss-block-playscript.right:after{content:''}.ss-block-stopscript:before,
.ss-block-stopscript.right:after{content:''}.ss-block-recordscript:before,
.ss-block-recordscript.right:after{content:''}.ss-block-bug:before,
.ss-block-bug.right:after{content:'🐛'}.ss-block-puzzle:before,
.ss-block-puzzle.right:after{content:''}.ss-block-window:before,
.ss-block-window.right:after{content:''}.ss-block-database:before,
.ss-block-database.right:after{content:''}.ss-block-adddatabase:before,
.ss-block-adddatabase.right:after{content:''}.ss-block-deletedatabase:before,
.ss-block-deletedatabase.right:after{content:''}.ss-block-hdd:before,
.ss-block-hdd.right:after{content:''}.ss-block-networkhdd:before,
.ss-block-networkhdd.right:after{content:''}.ss-block-downloadhdd:before,
.ss-block-downloadhdd.right:after{content:''}.ss-block-airplay:before,
.ss-block-airplay.right:after{content:''}.ss-block-music:before,
.ss-block-music.right:after{content:'♫'}.ss-block-mic:before,
.ss-block-mic.right:after{content:'🎤'}.ss-block-headphones:before,
.ss-block-headphones.right:after{content:'🎧'}.ss-block-volume:before,
.ss-block-volume.right:after{content:'🔈'}.ss-block-radio:before,
.ss-block-radio.right:after{content:'📻'}.ss-block-phonograph:before,
.ss-block-phonograph.right:after{content:''}.ss-block-disc:before,
.ss-block-disc.right:after{content:'💿'}.ss-block-discs:before,
.ss-block-discs.right:after{content:''}.ss-block-playlist:before,
.ss-block-playlist.right:after{content:''}.ss-block-musichome:before,
.ss-block-musichome.right:after{content:''}.ss-block-itunes:before,
.ss-block-itunes.right:after{content:''}.ss-block-camera:before,
.ss-block-camera.right:after{content:'📷'}.ss-block-picture:before,
.ss-block-picture.right:after{content:'🌄'}.ss-block-pictures:before,
.ss-block-pictures.right:after{content:''}.ss-block-searchpicture:before,
.ss-block-searchpicture.right:after{content:''}.ss-block-video:before,
.ss-block-video.right:after{content:'📹'}.ss-block-clapboard:before,
.ss-block-clapboard.right:after{content:'🎬'}.ss-block-film:before,
.ss-block-film.right:after{content:''}.ss-block-playfilm:before,
.ss-block-playfilm.right:after{content:''}.ss-block-tv:before,
.ss-block-tv.right:after{content:'📺'}.ss-block-flatscreen:before,
.ss-block-flatscreen.right:after{content:''}.ss-block-projector:before,
.ss-block-projector.right:after{content:''}.ss-block-videogame:before,
.ss-block-videogame.right:after{content:'🎮'}.ss-block-play:before,
.ss-block-play.right:after{content:'▶'}.ss-block-pause:before,
.ss-block-pause.right:after{content:''}.ss-block-stop:before,
.ss-block-stop.right:after{content:'■'}.ss-block-record:before,
.ss-block-record.right:after{content:'●'}.ss-block-rewind:before,
.ss-block-rewind.right:after{content:'⏪'}.ss-block-fastforward:before,
.ss-block-fastforward.right:after{content:'⏩'}.ss-block-skipback:before,
.ss-block-skipback.right:after{content:'⏮'}.ss-block-skipforward:before,
.ss-block-skipforward.right:after{content:'⏭'}.ss-block-eject:before,
.ss-block-eject.right:after{content:'⏏'}.ss-block-shuffle:before,
.ss-block-shuffle.right:after{content:'🔀'}.ss-block-filecabinet:before,
.ss-block-filecabinet.right:after{content:''}.ss-block-storagebox:before,
.ss-block-storagebox.right:after{content:''}.ss-block-books:before,
.ss-block-books.right:after{content:'📚'}.ss-block-bookspencil:before,
.ss-block-bookspencil.right:after{content:''}.ss-block-openbook:before,
.ss-block-openbook.right:after{content:'📖'}.ss-block-bookinsert:before,
.ss-block-bookinsert.right:after{content:''}.ss-block-notebook:before,
.ss-block-notebook.right:after{content:'📓'}.ss-block-ledger:before,
.ss-block-ledger.right:after{content:'📒'}.ss-block-album:before,
.ss-block-album.right:after{content:''}.ss-block-newspaper:before,
.ss-block-newspaper.right:after{content:'📰'}.ss-block-spiralbound:before,
.ss-block-spiralbound.right:after{content:''}.ss-block-notepad:before,
.ss-block-notepad.right:after{content:''}.ss-block-notice:before,
.ss-block-notice.right:after{content:''}.ss-block-grid:before,
.ss-block-grid.right:after{content:''}.ss-block-thumbnails:before,
.ss-block-thumbnails.right:after{content:''}.ss-block-filter:before,
.ss-block-filter.right:after{content:''}.ss-block-desktop:before,
.ss-block-desktop.right:after{content:'💻'}.ss-block-laptop:before,
.ss-block-laptop.right:after{content:''}.ss-block-tablet:before,
.ss-block-tablet.right:after{content:''}.ss-block-cell:before,
.ss-block-cell.right:after{content:'📱'}.ss-block-cellbars:before,
.ss-block-cellbars.right:after{content:'📶'}.ss-block-battery:before,
.ss-block-battery.right:after{content:'🔋'}.ss-block-mediumbattery:before,
.ss-block-mediumbattery.right:after{content:''}.ss-block-emptybattery:before,
.ss-block-emptybattery.right:after{content:''}.ss-block-chargingbattery:before,
.ss-block-chargingbattery.right:after{content:''}.ss-block-screwdrivermobile:before,
.ss-block-screwdrivermobile.right:after{content:''}.ss-block-brushmobile:before,
.ss-block-brushmobile.right:after{content:''}.ss-block-pencilmobile:before,
.ss-block-pencilmobile.right:after{content:''}.ss-block-door:before,
.ss-block-door.right:after{content:'🚪'}.ss-block-washer:before,
.ss-block-washer.right:after{content:''}.ss-block-dryer:before,
.ss-block-dryer.right:after{content:''}.ss-block-fireplace:before,
.ss-block-fireplace.right:after{content:''}.ss-block-toilet:before,
.ss-block-toilet.right:after{content:'🚽'}.ss-block-toiletpaper:before,
.ss-block-toiletpaper.right:after{content:''}.ss-block-lightbulb:before,
.ss-block-lightbulb.right:after{content:'💡'}.ss-block-cfl:before,
.ss-block-cfl.right:after{content:''}.ss-block-flashlight:before,
.ss-block-flashlight.right:after{content:'🔦'}.ss-block-candle:before,
.ss-block-candle.right:after{content:''}.ss-block-campfire:before,
.ss-block-campfire.right:after{content:'🔥'}.ss-block-picnictable:before,
.ss-block-picnictable.right:after{content:''}.ss-block-frame:before,
.ss-block-frame.right:after{content:''}.ss-block-heartframe:before,
.ss-block-heartframe.right:after{content:'💟'}.ss-block-starframe:before,
.ss-block-starframe.right:after{content:''}.ss-block-treeframe:before,
.ss-block-treeframe.right:after{content:''}.ss-block-flowerframe:before,
.ss-block-flowerframe.right:after{content:''}.ss-block-questionframe:before,
.ss-block-questionframe.right:after{content:''}.ss-block-utensilsframe:before,
.ss-block-utensilsframe.right:after{content:''}.ss-block-atom:before,
.ss-block-atom.right:after{content:'⚛'}.ss-block-fluxcapacitor:before,
.ss-block-fluxcapacitor.right:after{content:''}.ss-block-rings:before,
.ss-block-rings.right:after{content:'💍'}.ss-block-balloons:before,
.ss-block-balloons.right:after{content:'🎈'}.ss-block-easteregg:before,
.ss-block-easteregg.right:after{content:''}.ss-block-jackolantern:before,
.ss-block-jackolantern.right:after{content:'🎃'}.ss-block-menorah:before,
.ss-block-menorah.right:after{content:''}.ss-block-christmastree:before,
.ss-block-christmastree.right:after{content:'🎄'}.ss-block-teddy:before,
.ss-block-teddy.right:after{content:''}.ss-block-blocks:before,
.ss-block-blocks.right:after{content:''}.ss-block-rattle:before,
.ss-block-rattle.right:after{content:''}.ss-block-diaper:before,
.ss-block-diaper.right:after{content:''}.ss-block-pailshovel:before,
.ss-block-pailshovel.right:after{content:''}.ss-block-sweep:before,
.ss-block-sweep.right:after{content:''}.ss-block-headstone:before,
.ss-block-headstone.right:after{content:'⛼'}.ss-block-onedie:before,
.ss-block-onedie.right:after{content:'⚀'}.ss-block-twodie:before,
.ss-block-twodie.right:after{content:'⚁'}.ss-block-threedie:before,
.ss-block-threedie.right:after{content:'⚂'}.ss-block-fourdie:before,
.ss-block-fourdie.right:after{content:'⚃'}.ss-block-fivedie:before,
.ss-block-fivedie.right:after{content:'⚄'}.ss-block-sixdie:before,
.ss-block-sixdie.right:after{content:'⚅'}.ss-block-fuzzydice:before,
.ss-block-fuzzydice.right:after{content:''}.ss-block-download:before,
.ss-block-download.right:after{content:''}.ss-block-downloadbox:before,
.ss-block-downloadbox.right:after{content:''}.ss-block-downloadcrate:before,
.ss-block-downloadcrate.right:after{content:''}.ss-block-upload:before,
.ss-block-upload.right:after{content:''}.ss-block-uploadbox:before,
.ss-block-uploadbox.right:after{content:''}.ss-block-uploadcrate:before,
.ss-block-uploadcrate.right:after{content:''}.ss-block-transfer:before,
.ss-block-transfer.right:after{content:'⇆'}.ss-block-refresh:before,
.ss-block-refresh.right:after{content:'↻'}.ss-block-sync:before,
.ss-block-sync.right:after{content:''}.ss-block-wifi:before,
.ss-block-wifi.right:after{content:''}.ss-block-connection:before,
.ss-block-connection.right:after{content:''}.ss-block-usb:before,
.ss-block-usb.right:after{content:''}.ss-block-files:before,
.ss-block-files.right:after{content:''}.ss-block-addfile:before,
.ss-block-addfile.right:after{content:''}.ss-block-removefile:before,
.ss-block-removefile.right:after{content:''}.ss-block-deletefile:before,
.ss-block-deletefile.right:after{content:''}.ss-block-searchfile:before,
.ss-block-searchfile.right:after{content:''}.ss-block-folder:before,
.ss-block-folder.right:after{content:'📁'}.ss-block-addfolder:before,
.ss-block-addfolder.right:after{content:''}.ss-block-removefolder:before,
.ss-block-removefolder.right:after{content:''}.ss-block-deletefolder:before,
.ss-block-deletefolder.right:after{content:''}.ss-block-downloadfolder:before,
.ss-block-downloadfolder.right:after{content:''}.ss-block-uploadfolder:before,
.ss-block-uploadfolder.right:after{content:''}.ss-block-undo:before,
.ss-block-undo.right:after{content:'↩'}.ss-block-redo:before,
.ss-block-redo.right:after{content:'↪'}.ss-block-quote:before,
.ss-block-quote.right:after{content:'“'}.ss-block-font:before,
.ss-block-font.right:after{content:''}.ss-block-anchor:before,
.ss-block-anchor.right:after{content:''}.ss-block-print:before,
.ss-block-print.right:after{content:'⎙'}.ss-block-fax:before,
.ss-block-fax.right:after{content:'📠'}.ss-block-shredder:before,
.ss-block-shredder.right:after{content:''}.ss-block-typewriter:before,
.ss-block-typewriter.right:after{content:''}.ss-block-list:before,
.ss-block-list.right:after{content:''}.ss-block-action:before,
.ss-block-action.right:after{content:''}.ss-block-redirect:before,
.ss-block-redirect.right:after{content:'↗'}.ss-block-expand:before,
.ss-block-expand.right:after{content:'⤢'}.ss-block-contract:before,
.ss-block-contract.right:after{content:''}.ss-block-scaleup:before,
.ss-block-scaleup.right:after{content:''}.ss-block-scaledown:before,
.ss-block-scaledown.right:after{content:''}.ss-block-power:before,
.ss-block-power.right:after{content:''}.ss-block-lifepreserver:before,
.ss-block-lifepreserver.right:after{content:''}.ss-block-help:before,
.ss-block-help.right:after{content:'❓'}.ss-block-info:before,
.ss-block-info.right:after{content:'ℹ'}.ss-block-alert:before,
.ss-block-alert.right:after{content:'⚠'}.ss-block-caution:before,
.ss-block-caution.right:after{content:'⛔'}.ss-block-plus:before,
.ss-block-plus.right:after{content:'+'}.ss-block-hyphen:before,
.ss-block-hyphen.right:after{content:'-'}.ss-block-check:before,
.ss-block-check.right:after{content:'✓'}.ss-block-delete:before,
.ss-block-delete.right:after{content:'␡'}.ss-block-dogface:before,
.ss-block-dogface.right:after{content:'🐶'}.ss-block-catface:before,
.ss-block-catface.right:after{content:'🐱'}.ss-block-bearface:before,
.ss-block-bearface.right:after{content:'🐻'}.ss-block-bird:before,
.ss-block-bird.right:after{content:'🐦'}.ss-block-dog:before,
.ss-block-dog.right:after{content:'🐕'}.ss-block-sheep:before,
.ss-block-sheep.right:after{content:'🐑'}.ss-block-pig:before,
.ss-block-pig.right:after{content:'🐖'}.ss-block-bone:before,
.ss-block-bone.right:after{content:''}.ss-block-tooth:before,
.ss-block-tooth.right:after{content:''}.ss-block-palmtree:before,
.ss-block-palmtree.right:after{content:'🌴'}.ss-block-tree:before,
.ss-block-tree.right:after{content:'🌲'}.ss-block-leaf:before,
.ss-block-leaf.right:after{content:'🍂'}.ss-block-flower:before,
.ss-block-flower.right:after{content:'⚘'}.ss-block-settings:before,
.ss-block-settings.right:after{content:'⚙'}.ss-block-dashboard:before,
.ss-block-dashboard.right:after{content:''}.ss-block-notifications:before,
.ss-block-notifications.right:after{content:'🔔'}.ss-block-toggles:before,
.ss-block-toggles.right:after{content:''}.ss-block-switch:before,
.ss-block-switch.right:after{content:''}.ss-block-switchoff:before,
.ss-block-switchoff.right:after{content:''}.ss-block-brightness:before,
.ss-block-brightness.right:after{content:'🔆'}.ss-block-flashoff:before,
.ss-block-flashoff.right:after{content:''}.ss-block-toolbox:before,
.ss-block-toolbox.right:after{content:''}.ss-block-tools:before,
.ss-block-tools.right:after{content:''}.ss-block-wrench:before,
.ss-block-wrench.right:after{content:'🔧'}.ss-block-wrenches:before,
.ss-block-wrenches.right:after{content:''}.ss-block-wrenchpencil:before,
.ss-block-wrenchpencil.right:after{content:''}.ss-block-screwdriverpencil:before,
.ss-block-screwdriverpencil.right:after{content:''}.ss-block-hammerscrewdriver:before,
.ss-block-hammerscrewdriver.right:after{content:''}.ss-block-tapemeasure:before,
.ss-block-tapemeasure.right:after{content:''}.ss-block-hourglass:before,
.ss-block-hourglass.right:after{content:'⏳'}.ss-block-clock:before,
.ss-block-clock.right:after{content:'⏲'}.ss-block-stopwatch:before,
.ss-block-stopwatch.right:after{content:'⏱'}.ss-block-alarmclock:before,
.ss-block-alarmclock.right:after{content:'⏰'}.ss-block-calendar:before,
.ss-block-calendar.right:after{content:'📅'}.ss-block-keyboardup:before,
.ss-block-keyboardup.right:after{content:''}.ss-block-keyboarddown:before,
.ss-block-keyboarddown.right:after{content:''}.ss-block-heavyasterisk:before,
.ss-block-heavyasterisk.right:after{content:'✱'}.ss-block-egg:before,
.ss-block-egg.right:after{content:''}.ss-block-cheese:before,
.ss-block-cheese.right:after{content:''}.ss-block-hotdog:before,
.ss-block-hotdog.right:after{content:''}.ss-block-burger:before,
.ss-block-burger.right:after{content:'🍔'}.ss-block-birthdaycake:before,
.ss-block-birthdaycake.right:after{content:'🎂'}.ss-block-pancakes:before,
.ss-block-pancakes.right:after{content:''}.ss-block-pizza:before,
.ss-block-pizza.right:after{content:'🍕'}.ss-block-frenchfries:before,
.ss-block-frenchfries.right:after{content:'🍟'}.ss-block-apple:before,
.ss-block-apple.right:after{content:'🍏'}.ss-block-mug:before,
.ss-block-mug.right:after{content:'☕'}.ss-block-coffee:before,
.ss-block-coffee.right:after{content:''}.ss-block-growler:before,
.ss-block-growler.right:after{content:''}.ss-block-beer:before,
.ss-block-beer.right:after{content:'🍺'}.ss-block-bottle:before,
.ss-block-bottle.right:after{content:''}.ss-block-wine:before,
.ss-block-wine.right:after{content:''}.ss-block-wineglass:before,
.ss-block-wineglass.right:after{content:'🍷'}.ss-block-cocktail:before,
.ss-block-cocktail.right:after{content:'🍸'}.ss-block-soda:before,
.ss-block-soda.right:after{content:''}.ss-block-cup:before,
.ss-block-cup.right:after{content:''}.ss-block-babybottle:before,
.ss-block-babybottle.right:after{content:'🍼'}.ss-block-jug:before,
.ss-block-jug.right:after{content:''}.ss-block-oven:before,
.ss-block-oven.right:after{content:''}.ss-block-takeout:before,
.ss-block-takeout.right:after{content:''}.ss-block-paperbag:before,
.ss-block-paperbag.right:after{content:''}.ss-block-utensils:before,
.ss-block-utensils.right:after{content:'🍴'}.ss-block-tshirt:before,
.ss-block-tshirt.right:after{content:'👕'}.ss-block-graduationcap:before,
.ss-block-graduationcap.right:after{content:'🎓'}.ss-block-fabric:before,
.ss-block-fabric.right:after{content:''}.ss-block-swatch:before,
.ss-block-swatch.right:after{content:''}.ss-block-weave:before,
.ss-block-weave.right:after{content:''}.ss-block-thread:before,
.ss-block-thread.right:after{content:''}.ss-block-yarn:before,
.ss-block-yarn.right:after{content:''}.ss-block-crochet:before,
.ss-block-crochet.right:after{content:''}.ss-block-needles:before,
.ss-block-needles.right:after{content:''}.ss-block-scissorsneedles:before,
.ss-block-scissorsneedles.right:after{content:''}.ss-block-button:before,
.ss-block-button.right:after{content:''}.ss-block-zipper:before,
.ss-block-zipper.right:after{content:''}.ss-block-sun:before,
.ss-block-sun.right:after{content:'☀'}.ss-block-partlycloudy:before,
.ss-block-partlycloudy.right:after{content:'⛅'}.ss-block-rainbow:before,
.ss-block-rainbow.right:after{content:'🌈'}.ss-block-umbrella:before,
.ss-block-umbrella.right:after{content:'☂'}.ss-block-crescentmoon:before,
.ss-block-crescentmoon.right:after{content:'🌙'}.ss-block-newmoon:before,
.ss-block-newmoon.right:after{content:'🌑'}.ss-block-waxingcrescentmoon:before,
.ss-block-waxingcrescentmoon.right:after{content:'🌒'}.ss-block-firstquartermoon:before,
.ss-block-firstquartermoon.right:after{content:'🌓'}.ss-block-waxinggibbousmoon:before,
.ss-block-waxinggibbousmoon.right:after{content:'🌔'}.ss-block-fullmoon:before,
.ss-block-fullmoon.right:after{content:'🌕'}.ss-block-waninggibbousmoon:before,
.ss-block-waninggibbousmoon.right:after{content:'🌖'}.ss-block-lastquartermoon:before,
.ss-block-lastquartermoon.right:after{content:'🌗'}.ss-block-waningcrescentmoon:before,
.ss-block-waningcrescentmoon.right:after{content:'🌘'}.ss-block-car:before,
.ss-block-car.right:after{content:'🚘'}.ss-block-carrepair:before,
.ss-block-carrepair.right:after{content:''}.ss-block-taxi:before,
.ss-block-taxi.right:after{content:'🚖'}.ss-block-train:before,
.ss-block-train.right:after{content:'🚆'}.ss-block-bus:before,
.ss-block-bus.right:after{content:'🚍'}.ss-block-truck:before,
.ss-block-truck.right:after{content:'🚚'}.ss-block-trailer:before,
.ss-block-trailer.right:after{content:''}.ss-block-trailerdump:before,
.ss-block-trailerdump.right:after{content:''}.ss-block-plane:before,
.ss-block-plane.right:after{content:'✈'}.ss-block-bike:before,
.ss-block-bike.right:after{content:'🚲'}.ss-block-motorcycle:before,
.ss-block-motorcycle.right:after{content:''}.ss-block-boat:before,
.ss-block-boat.right:after{content:'🚢'}.ss-block-rocket:before,
.ss-block-rocket.right:after{content:'🚀'}.ss-block-ufo:before,
.ss-block-ufo.right:after{content:''}.ss-block-squarekey:before,
.ss-block-squarekey.right:after{content:''}.ss-block-tire:before,
.ss-block-tire.right:after{content:''}.ss-block-fuel:before,
.ss-block-fuel.right:after{content:'⛽'}.ss-block-parking:before,
.ss-block-parking.right:after{content:''}.ss-block-wheelchair:before,
.ss-block-wheelchair.right:after{content:'♿'}.ss-block-restroom:before,
.ss-block-restroom.right:after{content:'🚻'}.ss-block-elevator:before,
.ss-block-elevator.right:after{content:''}.ss-block-briefcase:before,
.ss-block-briefcase.right:after{content:'💼'}.ss-block-theatre:before,
.ss-block-theatre.right:after{content:'🎭'}.ss-block-ticket:before,
.ss-block-ticket.right:after{content:'🎫'}.ss-block-golf:before,
.ss-block-golf.right:after{content:''}.ss-block-billiards:before,
.ss-block-billiards.right:after{content:'🎱'}.ss-block-baseball:before,
.ss-block-baseball.right:after{content:'⚾'}.ss-block-tennis:before,
.ss-block-tennis.right:after{content:'🎾'}.ss-block-basketball:before,
.ss-block-basketball.right:after{content:'🏀'}.ss-block-football:before,
.ss-block-football.right:after{content:'🏈'}.ss-block-soccer:before,
.ss-block-soccer.right:after{content:'⚽'}.ss-block-flaginhole:before,
.ss-block-flaginhole.right:after{content:'⛳'}.ss-block-paddles:before,
.ss-block-paddles.right:after{content:''}.ss-block-skiboot:before,
.ss-block-skiboot.right:after{content:''}.ss-block-skis:before,
.ss-block-skis.right:after{content:'🎿'}.ss-block-hiker:before,
.ss-block-hiker.right:after{content:''}.ss-block-runner:before,
.ss-block-runner.right:after{content:'🏃'}.ss-block-hottub:before,
.ss-block-hottub.right:after{content:''}.ss-block-exercise:before,
.ss-block-exercise.right:after{content:''}.ss-block-hospital:before,
.ss-block-hospital.right:after{content:'⛨'}.ss-block-medicalcross:before,
.ss-block-medicalcross.right:after{content:''}.ss-block-medicalbag:before,
.ss-block-medicalbag.right:after{content:''}.ss-block-bandage:before,
.ss-block-bandage.right:after{content:''}.ss-block-flask:before,
.ss-block-flask.right:after{content:''}.ss-block-testtube:before,
.ss-block-testtube.right:after{content:''}.ss-block-up:before,
.ss-block-up.right:after{content:'⬆'}.ss-block-right:before,
.ss-block-right.right:after{content:'➡'}.ss-block-down:before,
.ss-block-down.right:after{content:'⬇'}.ss-block-left:before,
.ss-block-left.right:after{content:'⬅'}.ss-block-navigateup:before,
.ss-block-navigateup.right:after{content:''}.ss-block-navigateright:before,
.ss-block-navigateright.right:after{content:'▻'}.ss-block-navigatedown:before,
.ss-block-navigatedown.right:after{content:''}.ss-block-navigateleft:before,
.ss-block-navigateleft.right:after{content:'◅'}.ss-block-share:before,
.ss-block-share.right:after{content:''}
